*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#message{
    margin-inline: 35%;
    display: none;
}
.rounded-circle{
    max-width: 10%;
    margin-right: 10px;
}
#imageset{
   max-width: 90%;
   max-height: 70%;
   padding-block: 7px;
   align-self: center;
}
#cardContent{
    letter-spacing: 2px;
    background-color: blanchedalmond;
    border: 2px solid black;
}